.main-header {
	#padding: 60px;
	text-align: center;
	background: #1abc9c;
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
}

.introduction {
	padding: 10px;
	text-align: left;
}

.flex-container {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-bottom: 10px;
}

.flex-sub-container {
	display: flex; 
	flex-direction: row; 
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.content-root {
	background-color: #aaa; 
	display: flex; 
	flex-direction: column; 
	width: 50%; 
	height: 100%
}

.content-header {
	display: flex; 
	align-self: center; 
	padding: 0px 0px 20px 0px;
}